*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to left, #ff0055, #3700ff);
    font-family: "Poppins", sans-serif;
}
.container{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
}
.card{
    background-color: #ffffff;
    border-radius: 25px;
    min-height: 250px;
}
h1{
    padding-top: 50px;
    text-align: center;
    color: #000000;
    font-weight: bolder;
}
.form-group{
    text-align: center;
    justify-content: center;
    padding: 10px;
}
.form-group input{
    width: 500px;
    height: 30px;
}